table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 85%;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    background-color: white;
    color: black;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
  }
  
  h3{
    text-align: center;
  }

  tr{
    border: 1px solid;  
  }

  h2 {
    font-family: "Roboto", sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  